/*  The <span> elements in the first paragraph are inline by default 
and so do not force line breaks. */
/* We also have a <ul> element which is set to display: inline-flex, 
creating an inline box around some flex items. */
/* Finally, we have two paragraphs both set to display: inline. 
The inline flex container and paragraphs all run together on one line 
rather than breaking onto new lines as they would do if they were 
displaying as block-level elements. */

p,
ul {
  border: 2px solid rebeccapurple;
}

span,
li {
  border: 2px solid blue;
}

ul {
  display: inline-flex;
  /* display: flex;
  display: inline; */
  list-style: none;
  padding: 0;
}

.inline {
  display: inline;
}

#dv {
  background-color: lavender;
  border: 3px solid salmon;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 50px;
  /* display: inline; */
}

#sp {
  background-color: lavender;
  border: 3px solid salmon;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 50px;
  /* display: block; */
}
