/* !important

There is a special piece of CSS that you can use to overrule all of the above 
calculations, however you should be very careful with using it — !important. 
This is used to make a particular property and value the most specific thing, 
thus overriding the normal rules of the cascade. */

#winning {
    background-color: red;
    border: 10px solid black;
}
    
.better {
    background-color: gray;
    border: none !important; 
    /* this declaration will win over the border value in the previous rule, 
    even though the ID has higher specificity */
}
    
p {
    background-color: blue;
    color: white;
    padding: 5px;
} 

/* Note: The only way to override this !important declaration would be to 
include another !important declaration on a declaration with the same 
specificity later in the source order, or one with a higher specificity. */

/* It is useful to know that !important exists so that you know what it is 
when you come across it in other people's code. However, we strongly recommend 
that you never use it unless you absolutely have to. !important changes the way 
the cascade normally works, so it can make debugging CSS problems really hard 
to work out, especially in a large stylesheet. */