/* The amount of specificity a selector has is measured using four different values (or components), which can be thought of as thousands, hundreds, tens and ones — four single digits in four columns:

    Thousands: Score one in this column if the declaration is inside a style 
    attribute, aka inline styles. Such declarations don't have selectors, 
    so their specificity is always simply 1000.
    
    Hundreds: Score one in this column for each ID selector contained inside 
    the overall selector.
    
    Tens: Score one in this column for each class selector, attribute selector, 
    or pseudo-class contained inside the overall selector.
    
    Ones: Score one in this column for each element selector or pseudo-element 
    contained inside the overall selector.

    Note: The universal selector (*), combinators (+, >, ~, ' '), and negation 
    pseudo-class (:not) have no effect on specificity.

    En VSCode, al hacer hover sobre el selector se puede ver su especificidad
    en el tooltip.
 */


/* specificity: 0101 */
#outer a {
    background-color: red;
}
        
/* specificity: 0201 */
#outer #inner a {
    background-color: blue;
}


/* specificity: 0104 */
#outer div ul li a {
    color: yellow;
}

/* specificity: 0113 */
#outer div ul .nav a {
    color: white;
}


/* specificity: 0024 */
div div li:nth-child(2) a:hover {
    border: 10px solid black;
}

/* specificity: 0023 */
div li:nth-child(2) a:hover {
    border: 10px dashed black;
}

/* specificity: 0033 */
div div .nav:nth-child(2) a:hover {
    border: 10px double black;
}

a {
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}            
    