/* ID Selectors

An ID selector begins with a # rather than a dot character, but is used in 
the same way as a class selector. However, an ID can be used only once per 
page, and elements can only have a single id value applied to them. It can 
select an element that has the id set on it, and you can precede the ID with 
a type selector to only target the element if both the element and ID match. 
You can see both of these uses in the following example: */

#one {
    background-color: yellow;
}

h1#heading {
    color: rebeccapurple;
}

/* 

Warning: Using the same ID multiple times in a document may appear to work for 
styling purposes, but don't do this. It results in invalid code, and will cause 
strange behavior in many places.

Note: As we learned in the lesson on specificity, an ID has high specificity. 
It will overrule most other selectors. In most cases, it is preferable to add a 
class to an element instead of an ID. However, if using the ID is the only way 
to target the element — perhaps because you do not have access to the markup and 
cannot edit it — this will work.
 */