/* You can apply multiple classes to an element and target them individually, 
or only select the element when all of the classes in the selector are present. 
This can be helpful when building up components that can be combined in different ways on your site.

In the example below, we have a <div> that contains a note. The grey border is applied when 
the box has a class of notebox. If it also has a class of warning or danger, we change the border-color.

We can tell the browser that we only want to match the element if it has two classes applied by chaining 
them together with no white space between them. You'll see that the last <div> doesn't get any styling 
applied, as it only has the danger class; it needs notebox as well to get anything applied. */


.notebox {
    border: 4px solid #666;
    padding: .5em;
  }
  
  .notebox.warning {
    border-color: orange;
    font-weight: bold;
  }
  
  .notebox.danger {
    border-color: red;
    font-weight: bold;
  }